{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for("static", filename="custom_styles.css")}}">
<title>Settings</title>

{% endblock %}
{% block body %}
<div>
  <form class="form" action="/set" method="POST" id="settings-form">
    <input
      type="text"
      id="username"
      name="username"
      placeholder="{{ username }}"
      required
    />

    <input
      type="text"
      id="user-phone"
      name="user-phone"
      placeholder="{{ phone_number }}"
      required
    />

    <input
      type="text"
      id="test-title"
      name="test-title"
      placeholder="{{ test_title }}"
      required
    />

    <input type="submit" value="Save Settings">
  </form>
</div>
{% endblock %}